<p-table [value]="systems"
         [tableStyle]="{ 'min-width': '50rem' }"
         [size]="'small'"
         [rowHover]="true">
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Entity Name</th>
      <th>IP Address</th>
      <th>Handler Type</th>
      <th>Host Name</th>
      <th>Entity ID</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-system>
    <tr (click)="onRowClick(system)" class="p-selectable-row">
      <td><app-online-indicator></app-online-indicator></td>
      <td>{{ system.entity.entityName }}</td>
      <td>{{ system.ipAddress }}</td>
      <td>{{ system.handlerType }}</td>
      <td>{{ system.hostName }}</td>
      <td>{{ system.entity.entityIdentifier }}</td>
    </tr>
  </ng-template>
</p-table>
